  /* 头像顶部下面三 */
  *{margin: 0;padding: 0;}

  html,body{overflow: auto; }
  .bgf{background: #fff;}
  .myFloatLeft{float: left;margin-top: 86rpx;}
  .mui-flex{display: flex;} 
  .mui-jus{justify-content: space-between;} 
  .mui-ane{align-items: center;}
  .w100{width: 100%;}
  .w92q{padding: 5px 4%;}
  .wrap{flex-wrap: wrap!important;}
  .lizi{background: #ff6050;}
  .padd24j{padding-top: 10px;padding-bottom: 10px;width: 92%;margin-right: auto;margin-left: auto;margin-top: 86px;margin-bottom: 10px;}
  .bor35{border-radius: 10px;}
  .img2{width: 15px;height: 23px;}
  .item{text-align: center;font-size: 24px;color: #999;width: 33%;}
  .item div{font-size: 42px;color: #000;}
  .item div text{font-size: 24px;}
  .itemll .itemtwo{border-left: 1px solid #e8e8e8;border-right: 1px solid #e8e8e8;}
  .img3{width: 130px;height: 130px;}
  .pop{position: relative;}
  .ab{margin-top: -78px;text-align: center;font-size: 24px;font-weight: bold;text-align: center;justify-content: center;}
  .ab img{display: block;margin-left: auto;margin-right: auto;margin-bottom: 10px;}
  .itemll{padding-top: 50px;}
  xmp{font-size: 12px;}
   /* 头像顶部下面三 */

   /* 导航切换 下面横线 */
.fs32{color: #333;font-size: 26px;}
.fs32  div{text-align: center;width: 50%;position: relative;padding-bottom: 20rpx;}
.fs32  .active{color: #ff6050;}
.bgf{background: #fff;}
.t1{padding-top: 48px;}
.fs32  .active::after{content: ''; position: absolute;width: 40px;height: 5px;background: #ff6050;border-radius: 2px;left: 50%;transform: translateX(-50%);bottom: 0;}
   /* 导航切换 下面横线 */


   /* 左滑删除 */
   .movable-area{
  width: 100%;
  height: 120rpx;
}
.movable-view{
  width: 100%;
  height: 100%;
}
.touch-item {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  border-bottom:1px solid #e8e8e8;
  width: 100%;
  height: 100%;
  overflow: hidden
}
.content {
  width: 100%;
  padding: 10px;
  line-height: 22px;
  margin-right:0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: translateX(90px);
  transform: translateX(90px);
  margin-left: -90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.del {
  background-color: #ff6050;
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  -webkit-transform: translateX(90px);
  transform: translateX(90px);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.touch-move-active .content,
.touch-move-active .del {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}


   /* 左滑删除 */



.flex{display: flex;}



.myFixdom{position: absolute;bottom: 0;left: 0;width: 100%;     background: #fff;      z-index: 99;  box-sizing: border-box;   text-align: center;
  padding: 15px 35px 15px 35px;}
.myFix h4{text-align: left;margin-bottom: 10px;}
.myFix p{text-align: left;margin-bottom: 10px;}
.myFixdom span{display: flex;justify-content: center;color: #999;margin-top: 15px;}
.myFixdom div{background: #39a1ed;color: #fff;padding: 5px 45px;border-radius: 3px;display: inline-flex;}
.myFix{
  width: 100%;
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}