<!doctype html>
<html lang="en" style="font-size:50px">

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="./favicon.ico" />
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0" />
  <meta name="description" content="demo" />
  <title>demo</title>
  <link href="./static/css/main.16fb96e2.chunk.css" rel="stylesheet">
  <link href="css/indexLIXI.css" rel="stylesheet">
  <script src="js/jsLIZI.js"></script>
</head>

<body>

</body>

</html>




```````````````````````````````````````````````````````````````````````````````````````````







<div class="lizi">
  <div class="bg">
    <div class="flex ">
          <div class=" padd24 padd24j bgf bor35 pop">
            <div class="ab">
                  <img src="../../../images/p1_14.png" class="img3"></img>
                  巴拉巴拉
            </div>
             <div class="mui-flex mui-jus mui-ane itemll">
               <div class="item">
                天数
                      <div>1</div>
               </div>
               <div  class="item itemtwo">
                体重
                      <div><img src="../../../images/p1_03.png" class="img2"></img> 3.9<text>斤</text></div>
               </div>
               <div  class="item">
                脂肪
                      <div><img src="../../../images/p1_05.png" class="img2"></img>3.0<text>斤</text></div>
               </div>
              </div>
          </div>
    </div>
    </div>
</div>
<div>
   <xmp style="background-color: #282c34;font-size: .35em;color: #fff;">
    <div class="lizi">
      <div class="bg">
        <div class="flex ">
              <div class=" padd24 padd24j bgf bor35 pop">
                <div class="ab">
                      <img src="../../../images/p1_14.png" class="img3"></img>
                      巴拉巴拉
                </div>
                 <div class="mui-flex mui-jus mui-ane itemll">
                   <div class="item">
                    天数
                          <div>1</div>
                   </div>
                   <div  class="item itemtwo">
                    体重
                          <div><img src="../../../images/p1_03.png" class="img2"></img> 3.9<text>斤</text></div>
                   </div>
                   <div  class="item">
                    脂肪
                          <div><img src="../../../images/p1_05.png" class="img2"></img>3.0<text>斤</text></div>
                   </div>
                  </div>
              </div>
        </div>
        </div>
    </div>
    <div>
 
        html,body{overflow: auto;}
        .bgf{background: #fff;}
        .myFloatLeft{float: left;margin-top: 86rpx;}
      .mui-flex{display: flex;} 
      .mui-jus{justify-content: space-between;} 
      .mui-ane{align-items: center;}
      .w100{width: 100%;}
      .w92q{padding: 5px 4%;}
      .wrap{flex-wrap: wrap!important;}
        .lizi{background: #ff6050;}
        .padd24j{padding-top: 10px;padding-bottom: 10px;width: 92%;margin-right: auto;margin-left: auto;margin-top: 86px;margin-bottom: 10px;}
        .bor35{border-radius: 10px;}
        .img2{width: 15px;height: 23px;}
        .item{text-align: center;font-size: 24px;color: #999;width: 33%;}
        .item div{font-size: 42px;color: #000;}
        .item div text{font-size: 24px;}
        .itemll .itemtwo{border-left: 1px solid #e8e8e8;border-right: 1px solid #e8e8e8;}
        .img3{width: 130px;height: 130px;}
        .pop{position: relative;}
        .ab{margin-top: -78px;text-align: center;font-size: 24px;font-weight: bold;text-align: center;justify-content: center;}
        .ab img{display: block;margin-left: auto;margin-right: auto;margin-bottom: 10px;}
        .itemll{padding-top: 50px;}

   </xmp>
</div>
```````````````````````````````````````````````````````````````````````````````````````````
<div class="fs32 mui-flex mui-ane mui-jus bgf padd24 t1">
  <div class="active"   data-id="1"  >我参加的比赛</div>
  <div  class=" "   data-id="2" >我发起的比赛</div>
</div>




<xmp style="background-color: #282c34;font-size: .35em;color: #fff;">
  <div class="fs32 mui-flex mui-ane mui-jus bgf padd24 t1">
    <div class="active"   data-id="1"  >我参加的比赛</div>
    <div  class=" "   data-id="2" >我发起的比赛</div>
  </div>

  .fs32{color: #333;font-size: 26px;}
  .fs32  div{text-align: center;width: 50%;position: relative;padding-bottom: 20rpx;}
  .fs32  .active{color: #ff6050;}
  .bgf{background: #fff;}
  .t1{padding-top: 48px;}
  .fs32  .active::after{content: ''; position: absolute;width: 40px;height: 5px;background: #ff6050;border-radius: 2px;left: 50%;transform: translateX(-50%);bottom: 0;}
 </xmp>





 <div>
  <h1>左滑删除</h1>
    <div wx:for='{{moveList}}' wx:key='index'>
      <div class='movable-area'>
        <div class='movable-view' direction='horizontal'>
            <div bindtouchstart="touchstart" bindtouchmove="touchmove" class='touch-item {{item.isView?"touch-move-active":""}}' data-index='{{index}}' bindtouchstart='touchstart' bindtouchmove='touchmove'>
              <div class='content' bindtap='goDetail'>
                {{item.text}}
                <div>{{item.text1}}
                  <image src="../../../images/x1_07.png" class="img2"></image>
                </div>
              </div>
              <div class='del' catchtap='del' data-index='{{index}}'>删除</div>
            </div>
        </div>
      </div>
    </div>
</div>








<xmp style="background-color: #282c34;font-size: .35em;color: #fff;">
  <h1>左滑删除</h1>
  <div>
    <div wx:for='{{moveList}}' wx:key='index'>
      <div class='movable-area'>
        <div class='movable-view' direction='horizontal'>
            <div bindtouchstart="touchstart" bindtouchmove="touchmove" class='touch-item {{item.isView?"touch-move-active":""}}' data-index='{{index}}' bindtouchstart='touchstart' bindtouchmove='touchmove'>
              <div class='content' bindtap='goDetail'>
                {{item.text}}
                <div>{{item.text1}}
                  <image src="../../../images/x1_07.png" class="img2"></image>
                </div>
              </div>
              <div class='del' catchtap='del' data-index='{{index}}'>删除</div>
            </div>
        </div>
      </div>
    </div>
</div>
.movable-area{
  width: 100%;
  height: 120rpx;
}
.movable-view{
  width: 100%;
  height: 100%;
}
.touch-item {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  border-bottom:1px solid #e8e8e8;
  width: 100%;
  height: 100%;
  overflow: hidden
}
.content {
  width: 100%;
  padding: 10px;
  line-height: 22px;
  margin-right:0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: translateX(90px);
  transform: translateX(90px);
  margin-left: -90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.del {
  background-color: #ff6050;
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  -webkit-transform: translateX(90px);
  transform: translateX(90px);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.touch-move-active .content,
.touch-move-active .del {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}


<h1>js</h1>
 moveList:[],
 startX:0,
 startY:0
 onLoad: function (options) {

 },
 act(e){

   this.setData({
     show : e.currentTarget.dataset.id
   })
 },


 /**
  * 生命周期函数--监听页面显示
  */
 onShow: function () {

 },

 /**
  * 生命周期函数--监听页面隐藏
  */
 onHide: function () {

 },

 /**
  * 生命周期函数--监听页面卸载
  */
 onUnload: function () {

 },

 /**
  * 页面相关事件处理函数--监听用户下拉动作
  */
 onPullDownRefresh: function () {

 },

 /**
  * 页面上拉触底事件的处理函数
  */
 onReachBottom: function () {

 },

 /**
  * 用户点击右上角分享
  */
 onShareAppMessage: function () {

 },
 del(){
   wx.showToast({
     title: '删除',
   })
 },
 touchstart(e){
   const pageX=e.changedTouches[0].pageX
   const pageY=e.changedTouches[0].pageY;

   this.data.moveList.forEach((item,index)=>{
      if(item.isView){
       item.isView=false
      }
   })
   this.setData({
       startX:pageX,
       startY:pageY,
       moveList:this.data.moveList
   })
 },

 touchmove(e){
   const pageX=e.changedTouches[0].pageX;
   const pageY=e.changedTouches[0].pageY;
   const startX=this.data.startX;
   const startY=this.data.startY;
   const that=this

  const angle=this.angle({X:startX,Y:startY},{X:pageX,Y:pageY})

   const index=e.currentTarget.dataset.index
   this.data.moveList.forEach((item,i)=>{

       if(Math.abs(angle>30)){
       return
       }
       if(i==index){
           if(that.data.startX<pageX){
               item.isView=false
           }else{
            
               item.isView=true
           }
       }
   })  
   this.setData({
       moveList:this.data.moveList
   })      
 },

   onReady: function () {
       let moveList=[]
       for(let i=0;i<5;i++){
           this.data.moveList.push({
               text:'110.5',
               text1:'26日 08:39',
               isView:false,
               id:i
           })
           this.setData({
               moveList:moveList
           })
       }
   },

   angle:function(start,end){
     var _X=start.X-end.X;
     var _Y=start.Y-end.Y;
   return 360*Math.atan(_Y/_X)/(2*Math.PI)
   },
 })
 </xmp>










 <div class="flex ">
        <div>
            <img src="images/02.png">
        </div>
        <div>
            <h3>我是标题</h3>
            <p>我是内容</p>
        </div>
 </div>
 <div class="flex ">
        <div style="width: 80px;height: 80px;">
            <img src="images/02.png">
        </div>
        <div>
            <h3>我是标我是标题我是标题我是标题我是标题我是标题我是标题题</h3>
            <p>我是内我是标题我是标题我是标题我是标题我是标题我是标题我是标题容</p>
        </div>
 </div>

<xmp  style="background-color: #282c34;font-size: .35em;color: #fff;">
  <div class="flex ">
    <div>
        <img src="images/02.png">
    </div>
    <div>
        <h3>我是标题</h3>
        <p>我是内容</p>
    </div>
</div>
<div class="flex ">
    <div style="width: 80px;height: 80px;">
        <img src="images/02.png">
    </div>
    <div>
        <h3  >我是标我是标题我是标题我是标题我是标题我是标题我是标题题</h3>
        <p>我是内我是标题我是标题我是标题我是标题我是标题我是标题我是标题容</p>
    </div>
</div>
.flex{display: flex;}
</xmp>











```````````````````````````````````````````


<xmp  style="background-color: #282c34;font-size: .35em;color: #fff;">
  <h3>我是弹窗</h3>
  <div class="myFix" id="c">
    <div class="myFixdom" >
    <h4>张三</h4>
    <p>手机号：1300000000</p>
    <p>绑定成功后，张三将成为您的代收人</p>
    <br>
    <Br>
      <div id="a">确定</div>
      <span id="b">稍后绑定</span>
    </div>
  </div>
  .myFixdom{position: absolute;bottom: 0;left: 0;width: 100%;     background: #fff;      z-index: 99;  box-sizing: border-box;   text-align: center;
    padding: 15px 35px 15px 35px;}
  .myFix h4{text-align: left;margin-bottom: 10px;}
  .myFix p{text-align: left;margin-bottom: 10px;}
  .myFixdom span{display: flex;justify-content: center;color: #999;margin-top: 15px;}
  .myFixdom div{background: #39a1ed;color: #fff;padding: 5px 45px;border-radius: 3px;display: inline-flex;}
  .myFix{
    width: 100%;
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
  }
</xmp>





<div class="login-form">
  <u-form :model="uForm" ref="uForm" label-align="right" :error-type="['message']">
    <div class="f_r_c_s c0 fw"><image class="img1 mar-r-10 c0" src="../../../static/images/1_07.png"></image>手机号</div>
    <u-form-item class="form-item-username " labelWidth="100rpx" left-icon="" :left-icon-style="{'font-size':'38rpx'}" prop="userLoginPhone">
      <u-input type="number" maxlength="11" v-model="uForm.userLoginPhone" :clearable="false" placeholder="请输入手机号" placeholder-style="font-size:30rpx;color:#9CA4AD"/>
    </u-form-item>

    <div class="f_r_c_s c0 fw my9"><image class="img2 mar-r-10 c0" src="../../../static/images/1_11.png"></image>验证码</div>
    <u-form-item class="form-item-phone"  prop="smsCode" left-icon="" :left-icon-style="{'font-size':'38rpx'}">
      <u-input type="number" maxlength="6" v-model="uForm.smsCode" :clearable="false" placeholder="请输入短信验证码" placeholder-style="font-size:30rpx;color:#9CA4AD"/>
      <u-button class="newBnt" @click.stop="sendCode" :disabled="disabled">{{tips}}</u-button>
      <u-verification-code ref="uCode" end-text="获取验证码" @start="start" @end="end" @change="codeChange"></u-verification-code>
    </u-form-item>
    
    
  </u-form>
  <button class="login-btn" :hair-line="false" @click="fnLogin">登 录</u>
    <div class=" f_r_c_s mar-t-50">
      <div class="tc fex _w100">
            <div class="c91   _font28"><image class="img3 " src="../../../static/images/1_15.png"></image>微信登录</div>
            <!-- <div class="c91 marr2 _font28"><image class="img3" @click="fnChangePhoneLogin('pwdLogin')" src="../../../static/images/1_17.png"></image>账号登录</div> -->
      </div>
    <!-- <text class="_font28 c4" @click="fnChangePhoneLogin('pwdLogin')">使用账号密码登录</text> -->
  </div>
</div>



<style>
  
  .login-form{
			width: 100%;
			margin-top: 0rpx;

			
		}
    .form-item-phone{
				margin-top: 00rpx;
			}
  			.title-line{
				width: 100%;
				height: 16rpx;
				background: #5543f3;
				opacity: 0.6;
				top:50rpx;
				position: absolute;
			}
  		.login-title{
			position: relative;
			align-self: flex-start;

		}
    .login-btn{
			margin-top: 52rpx;	
			height: 90rpx;
			background: linear-gradient(-90deg, #5040F0 25%, #6E52FF 99%);
			box-shadow: 0rpx 3rpx 21rpx 0rpx rgba(88,72,245,0.1600);
			border-radius: 45rpx;
			border: 0 solid;
			font-size: 38rpx;
			color: $c1;
		}
	.phone-login{
		width: 100%;
		padding: 64rpx 56rpx;


	}
	/deep/ .u-form-item--left__content__icon{
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction:row;
		flex-direction: row;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: flex-start;
		justify-content: flex-start;
	}
	
	/deep/ .uni-input-input{
		height: 40rpx;
		line-height: 40rpx;
		font-size: 38rpx;
	}
	/deep/ .u-form-item__message{
		padding-left: 0rpx !important;
	}
	.img1{width:32rpx;height:40rpx;}
	.img2{width:32rpx;height:37rpx;}
	.my9{margin-top: 60rpx;}
	.newBnt{color: #5040f0!important;padding-right: 0;background-color: transparent!important;}
	/deep/ .newBnt.u-hairline-border[data-v-6e15e680]:after{border: 0;color: #5040f0;}
	.img3{width: 110rpx;height: 110rpx;display: block;margin: 0 auto 8px auto;}
	.marr{margin-right: 70rpx;}
	.marr2{margin-left: 70rpx;}
	.fex{display: flex;justify-content: center;}
	.c91{color: #999;}
</style>
