<!DOCTYPE html>
<html>
<head>
	<title>vueDEmo</title>
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
	<link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap.css">
	<script type="text/javascript" src="https://cdn.bootcss.com/vue/2.6.3/vue.js"></script>
	<script type="text/javascript" src="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/js/bootstrap.js"></script>
	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>

</head>
<body>
		<h1>Hello Word</h1>
		<div id="app">
			<span  v-text="mes"></span>
			<div v-if="isLogin">您好，史玉涵</div>
			<div v-else="isLogin">还没有登录</div>
			<div v-show="hidden">{{b}}</div>
			<div>
				<ul>
					<li v-for="item in sortitems">
						{{item}}
					</li>
				</ul>
			</div>
			<div class="student">
				<ul>
					<li v-for="(student,index) in bb"  @click="dianji">
						<p>{{index}}</p><span>{{student.name}}</span> -- <span>{{student.age}}</span>
					</li>
					<span v-html="ml"></span>		
				</ul>
			</div>
			<div>
					<span v-text="ccc"></span>
					<button v-on:click="jiafen">加分</button>
					<button @click="jianfen">减分</button>
					<input type="text" name=""  @keyup.enter="jiafen1" value="1" id="op">
			</div>
			<hr>
			<hr>
			<h3>双向数据绑定</h3>
			<p>{{mes}}</p>
			<input type="text" name="" v-model="mes">
			<input type="text" name="" v-model.lazy="mes">
			<input type="text" name="" v-model.number="mes">
			<input type="text" name="" v-model.trim="mes">
			<textarea v-model.lazy="mes"></textarea>
			<hr>
			<hr>
				<p>
					<input type="checkbox" id="hidden" name="" value="23" v-model="hidden1">
					<label for="hidden"></label>
					<p>您选择的事: {{hidden1}}</p>
				</p>
			<hr>
			<hr>
			<p>
				<input type="checkbox" name="" id="isTrue1" value="js1" v-model="web_names">
				<label for="isTrue1">js</label>
				<input type="checkbox" name="" id="isTrue2" value="java1" v-model="web_names">
				<label for="isTrue2">java</label>
				<input type="checkbox" name="" id="isTrue3" value="php1" v-model="web_names">
				<label for="isTrue3">php</label>
				<p>你选的值是 : {{web_names}}</p>
			</p>
			<p>
				<input type="radio" name="" id="isTrue4" value="男" v-model="sex">
				<label for="isTrue4">男</label>
				<input type="radio" name="" id="isTrue5" value="女" v-model="sex">
				<label for="isTrue5">女</label>
				<p>你选的值是 : {{sex}}</p>
			</p>
			<hr>
			<hr>
			<hr>
			<img v-bind:src=imgSrc>
			<a :href="href" target="_bank">百度</a>
			<div :class="classA">这是直接绑定css样式</div>
			<div :class="{classB:isOk}">真假绑定class</div>
			<div :class="isOk?classA:classB">三元绑定class</div>
			<div :class="[classA,classB,classC]">绑定多个class</div>
			<div :style="{color:red,fontSize :font}">内联元素</div>
			<div :style="styleObj">这是用对象绑定</div>
			<input type="" name="" v-model="my_input">
			<ul>
				<li v-for="(aa,index) in li" :key="index" @click="my_first(index)">{{aa}}</li>
			</ul>
			<button @click="quzhi()" style="width: 100px; height: 50px"></button>
			<p v-text="txt"></p>
			<button id="ui">按钮</button>
			<!--BS-->
				<footer>
	<div class="container-full">
		<div class="row">
			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading" id="our">{{our}}</h5>
					<address>
					<strong>Cambridge company Inc</strong><br>
					JC Main Road, Near Silnile tower<br>
					 Pin-21542 NewYork US.</address>
					<p>
						<i class="icon-phone"></i> (123) 456-789 - 1255-12584 <br>
						<i class="icon-envelope-alt"></i> email@domainname.com
					</p>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading">Quick Links</h5>
					<ul class="link-list">
						<li><a href="#">Latest Events</a></li>
						<li><a href="#">Terms and conditions</a></li>
						<li><a href="#">Privacy policy</a></li>
						<li><a href="#">Career</a></li>
						<li><a href="#">Contact us</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading">Latest posts</h5>
					<ul class="link-list">
						<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
						<li><a href="#">Pellentesque et pulvinar enim. Quisque at tempor ligula</a></li>
						<li><a href="#">Natus error sit voluptatem accusantium doloremque</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading">Recent News</h5>
					<ul class="link-list">
						<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
						<li><a href="#">Pellentesque et pulvinar enim. Quisque at tempor ligula</a></li>
						<li><a href="#">Natus error sit voluptatem accusantium doloremque</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="sub-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="copyright">
						<p>
							Copyright © 2017.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
						</p>
					</div>
				</div>
				<div class="col-lg-6">
					<ul class="social-network">
						<li><a href="#" data-placement="top" title="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" data-placement="top" title="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" data-placement="top" title="" data-original-title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#" data-placement="top" title="" data-original-title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="#" data-placement="top" title="" data-original-title="Google plus"><i class="fa fa-google-plus"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	</footer>
	<div class="container">
    <h1>网站表单</h1>
		    <form>
		      <div class="form-group">
		        <label for="name">网站名</label>
		        <input type="text" class="form-control" id="name" required>
		      </div>
		      <div class="form-group">
		        <label for="alterEgo">alexa 排名</label>
		        <input type="text" class="form-control" id="alexa">
		      </div>
		      <button type="submit" class="btn btn-default">提交</button>
		    </form>
</div>
		</div><!--VUE-->

		<style type="text/css">
			.classA{color: #ff0000}
			.classB{color: #00ff00}
			.classC{font-size: 150%}
		</style>
</body>
</html>
<script type="text/javascript">
	//count a = 0;
	const b = 0
	// alert(b)
	var vue = new Vue({
		el : "#app",
		data :{
			hidden1 : [],
			li:[12,23,12,23,12,2,4,55,65,78,89,87],
			mes : 111,
			isLogin : false,
			b : "232323232323",
			hidden : true,
			isTrue : true,
			items : [1,12,30,45],
			ccc :0,
			sex : '男',
			web_names : [],
			students : [
				{name : "king", age : 10,a : 79},
				{name : "wangqi",age : 12,a :89},
				{name : "蓝天了", age :26,a : 45},
				{name : "展示",age : 5,a : 123}
			],
			ml : '<h2>hhhhhhhhhhhhh</h2>',
			imgSrc :"http://jspang.com/static//myimg/blogtouxiang.jpg",
			href : "https://www.baidu.com",
			classA : "classA",
			isOk :true,
			classA : "classA",
			classB : "classB",
			classC : "classC",
			red : "#0000ff",
			font : "200%",
			styleObj : {
				fontSize : "50px",
				color : "blue"
			},
			my_input:"",
			txt : "",
			our:"新添加的"
		},
		computed : {
			sortitems : function(){
				return this.items.sort(sortA)
			},
			bb : function(){
				console.log(this.items)
				return sortByKey(this.students,'a')
			}
		},
		methods : {
			dianji : function(){
				this.my_input = 2
			},
			jiafen : function(){
				this.ccc++
			},
			jianfen : function(){
				this.ccc--
			},
			jiafen1 : function(){
				var val = document.querySelector("#op").value
				this.ccc = this.ccc + parseInt(val)
			},
			my_first : function(a){
				this.my_input = a
				console.log(a)
			},
			quzhi : function(){
				console.log(this.my_input)
				this.txt = this.my_input
				this.our = "火箭"
			}
		}
	});
//____________________
	function sortA(a,b){   //数字排序
		return a-b
	}

	function sortByKey(array,key){		//数组对象根据属性排序
	    return array.sort(function(a,b){
	      var x=a[key];
	      var y=b[key];
	      return ((x<y)?-1:((x>y)?1:0));
	   });
	}
function $$(id){
	return document.getElementById(id)
}
window.$$ = $$;
console.log($$("isTrue5").value)
console.log($("isTrue5").val())

$$("ui").addEventListener('click',function(){
	console.log(vue.our)
	for (var i = 0; i < vue.web_names.length; i++) {
		console.log(vue.web_names[i])
	}
})
</script>
<style type="text/css">
	*{margin: 0;padding: 0}
	.student{border: 1px solid #ff0000}
	.student p{display: inline-block;}
	.student span{border: 1px solid #00ff00}
</style>
